<div class="">
    <header id="header" class="header-effect-shrink bg-light"
        data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="/" class="logo-container">
                                    <img src="<%= data.logo %>" class="logo-img" alt="Logo"
                                        width="74" height="64"
                                        data-sticky-width="64"
                                        data-sticky-height="55">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <%- renderPartial('menu') %>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div role="main" class="main">
        <div class="content"></div>

    </div>


    <footer id="footer" style="z-index: 0;" class="mt-0">
        <div class="footer-copyright">
            <div class="container py-2">
                <div class="row py-4">
                    <!-- <div class="col-lg-auto order-3 order-lg-1 mb-2 mb-lg-0 text-center text-lg-left">
                        <a href="/" class="logo pr-0 pr-lg-3">
                            Logo 2
                        </a>
                    </div> -->
                    <div class="col-lg order-2 order-lg-2 mb-4 mb-lg-0 text-center text-lg-left mt-1">
                        <p>© Copyright <%- new Date().format('yyyy') %>. All Rights Reserved.</p>
                    </div>
                    <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end"> -->
                    <!-- <nav id="sub-menu">
                            <ul>
                                <li>
                                    <i class="fas fa-angle-right"></i>
                                    <a href="page-faq.html" class="ml-1 text-decoration-none"> FAQ's</a>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right"></i>
                                    <a href="sitemap.html" class="ml-1 text-decoration-none"> Sitemap</a>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right"></i>
                                    <a href="contact-us.html" class="ml-1 text-decoration-none"> Contact Us</a>
                                </li>
                            </ul>
                        </nav> -->
                    <!-- </div> -->
                </div>
            </div>
    </footer>
</div>