<div>
    <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
            data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1170, 'gridheight': 700, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big' }, 'bullets': {'enable': false, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
            <ul>
                <li class="slide-overlay slide-overlay-gradient slide-overlay-level-9" data-transition="fade">
                    <img src="<%= data.img %>"
                        alt=""
                        data-bgposition="center center"
                        data-bgfit="cover"
                        data-bgrepeat="no-repeat"
                        class="rev-slidebg">

                    <h1 class="tp-caption text-color-light font-weight-normal"
                        data-x="center"
                        data-y="center" data-voffset="['-110','-110','-110','-180']"
                        data-start="700"
                        data-fontsize="['22','22','22','40']"
                        data-lineheight="['25','25','25','45']"
                        data-letterspacing="0"
                        data-transform_in="y:[-50%];opacity:0;s:500;">THIS IS PORTO TEMPLATE</h1>

                    <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-2"
                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center" data-voffset="['-60','-60','-60','-85']"
                        data-fontsize="['50','50','50','90']"
                        data-lineheight="['55','55','55','95']"
                        data-letterspacing="0">HELLO & WELCOME</div>

                    <div class="tp-caption font-weight-light text-color-light text-center ws-normal"
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:0.8;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-x="center"
                        data-y="center" data-voffset="['15','15','15','40']"
                        data-width="['350','350','350','875']"
                        data-fontsize="['18','18','18','50']"
                        data-lineheight="['29','29','29','60']">Porto is a huge sucess in the one of the world's largest
                        MarketPlace.</div>

                    <a class="tp-caption btn btn-dark font-weight-semibold"
                        data-frames='[{"delay":3500,"speed":2000,"frame":"0","from":"opacity:0;y:50%;","to":"o:1;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-hash
                        data-hash-offset="85"
                        href="#main"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="['100','100','100','210']"
                        data-whitespace="nowrap"
                        data-fontsize="['14','14','14','33']"
                        data-paddingtop="['16','16','16','40']"
                        data-paddingright="['33','33','33','80']"
                        data-paddingbottom="['16','16','16','40']"
                        data-paddingleft="['33','33','33','80']">GET STARTED NOW!</a>

                </li>
            </ul>
        </div>
    </div>
    <section class="section section-secondary section-no-border section-height-4 my-0" style="z-index: 1;">
        <div class="justify-content-center row my-5 text-center font-weight-bold" style="">
            <div class="col-12">
                <h1 class="font-weight-bold line-height-1 negative-ls-2 mb-2 text-color-dark">Minha sessao</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 text-center">
                <a href="/" class="btn btn-rounded btn-primary text-color-light text-5 p-3">CLIQUE AQUI</a>
            </div>
        </div>
    </section>
    <section class="section section-dark section-no-border section-height-4 my-0" style="z-index: 1;">
        <div class="justify-content-center row my-5 text-center font-weight-bold" style="">
            <div class="col-12">
                <h1 class="font-weight-bold line-height-1 negative-ls-2 mb-2 text-color-light">Minha sessao</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 text-center">
                <a href="/" class="btn btn-rounded btn-primary text-color-light text-5 p-3">CLIQUE AQUI</a>
            </div>
        </div>
    </section>
    <section class="section section-primary section-no-border section-height-4 my-0" style="z-index: 1;">
        <div class="justify-content-center row my-5 text-center font-weight-bold" style="">
            <div class="col-12">
                <h1 class="font-weight-bold line-height-1 negative-ls-2 mb-2 text-color-dark">Minha sessao</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 text-center">
                <a href="/" class="btn btn-rounded btn-light text-color-dark text-5 p-3">CLIQUE AQUI</a>
            </div>
        </div>
    </section>
</div>