<div class="header-row">
    <div
        class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
        <div
            class="header-nav-main site header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
            <nav class="collapse">
                <ul class="nav nav-pills" id="mainNav">

                    <li class=""> <a class="dropdown-item" href="/teste/s/lista">Teste</a>
                    </li>
                    <li class="dropdown"> <a class="dropdown-item dropdown-toggle" href="#">
                            Blog </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu"> <a class="dropdown-item"
                                    href="#">Large Image</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="blog-large-image-full-width.html">Full
                                            Width</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-large-image-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-large-image-sidebar-right.html">Right
                                            Sidebar </a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-large-image-sidebar-left-and-right.html">Left
                                            and Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item"
                                    href="#">Medium Image</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="blog-medium-image-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-medium-image-sidebar-right.html">Right
                                            Sidebar </a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item"
                                    href="#">Grid</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="blog-grid-4-columns.html">4 Columns</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-grid-3-columns.html">3 Columns</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-grid-full-width.html">Full Width</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-grid-no-margins.html">No Margins</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-grid-no-margins-full-width.html">No
                                            Margins Full Width</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-grid-sidebar-left.html">Left Sidebar</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-grid-sidebar-right.html">Right Sidebar
                                        </a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-grid-sidebar-left-and-right.html">Left
                                            and Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item"
                                    href="#">Masonry</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="blog-masonry-4-columns.html">4 Columns</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-masonry-3-columns.html">3 Columns</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-masonry-full-width.html">Full Width</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-masonry-no-margins.html">No Margins</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-masonry-no-margins-full-width.html">No
                                            Margins Full Width</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-masonry-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-masonry-sidebar-right.html">Right Sidebar
                                        </a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item"
                                    href="#">Timeline</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="blog-timeline.html">Full
                                            Width</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-timeline-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-timeline-sidebar-right.html">Right
                                            Sidebar </a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item"
                                    href="#">Single Post</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="blog-post.html">Full
                                            Width</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-slider-gallery.html">Slider
                                            Gallery</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-image-gallery.html">Image
                                            Gallery</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-embedded-video.html">Embedded
                                            Video</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-html5-video.html">HTML5 Video</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-blockquote.html">Blockquote</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-link.html">Link</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-embedded-audio.html">Embedded
                                            Audio</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-small-image.html">Small Image</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-sidebar-left.html">Left Sidebar</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-sidebar-right.html">Right Sidebar
                                        </a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-sidebar-left-and-right.html">Left
                                            and Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item" href="#">Post
                                    Comments</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="blog-post.html#comments">Default</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-comments-facebook.html#comments">Facebook
                                            Comments</a></li>
                                    <li><a class="dropdown-item"
                                            href="blog-post-comments-disqus.html#comments">Disqus
                                            Comments</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a class="dropdown-item dropdown-toggle" href="#">
                            Shop </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu"> <a class="dropdown-item"
                                    href="#">Single Product</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="shop-product-full-width.html">Full Width</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="shop-product-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="shop-product-sidebar-right.html">Right
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="shop-product-sidebar-left-and-right.html">Left
                                            and Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="shop-4-columns.html">4
                                    Columns</a></li>
                            <li class="dropdown-submenu"> <a class="dropdown-item" href="#">3
                                    Columns</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="shop-3-columns-full-width.html">Full Width</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="shop-3-columns-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="shop-3-columns-sidebar-right.html">Right
                                            Sidebar </a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item" href="#">2
                                    Columns</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="shop-2-columns-full-width.html">Full Width</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="shop-2-columns-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="shop-2-columns-sidebar-right.html">Right
                                            Sidebar </a></li>
                                    <li><a class="dropdown-item"
                                            href="shop-2-columns-sidebar-left-and-right.html">Left
                                            and Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"> <a class="dropdown-item" href="#">1
                                    Column</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="shop-1-column-full-width.html">Full Width</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="shop-1-column-sidebar-left.html">Left
                                            Sidebar</a></li>
                                    <li><a class="dropdown-item"
                                            href="shop-1-column-sidebar-right.html">Right
                                            Sidebar </a></li>
                                    <li><a class="dropdown-item"
                                            href="shop-1-column-sidebar-left-and-right.html">Left
                                            and Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="shop-cart.html">Cart</a></li>
                            <li><a class="dropdown-item" href="shop-login.html">Login</a></li>
                            <li><a class="dropdown-item" href="shop-checkout.html">Checkout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="btn header-btn-collapse-nav" data-toggle="collapse"
            data-target=".header-nav-main.site nav">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</div>