<div class="container">
    <!-- <div class="row mt-5">
                <div class="col text-center">
                    <div class="logo">
                        <a href="/">
                        </a>
                    </div>
                </div>
            </div> -->

    <section class="http-error my-5">
        <div class="row justify-content-center py-3">
            <div class="col-6 text-center">
                <div class="http-error-main">
                    <h2 class="mb-2">Ooops!</h2>
                    <span class="text-6 font-weight-bold text-color-dark">Manutenção não programada</span
                    >
                    <p class="text-3 my-4">
                        Detectamos a necessidade de fazer uma faxina pesada de última hora.<br>Volte mais tarde.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
