<!-- Vendor -->
<script src="<%-publicPath%>porto-vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="<%-publicPath%>porto-vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="<%-publicPath%>porto-vendor/jquery.cookie/jquery.cookie.min.js"></script>
<!--<script src="vendor/popper/umd/popper.min.js"></script>-->
<script src="<%-publicPath%>porto-vendor/common/common.min.js"></script>
<!--<script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>-->
<!-- <script src="<%-publicPath%>porto-vendor/jquery.lazyload/jquery.lazyload.min.js"></script> -->
<!--<script src="vendor/isotope/jquery.isotope.min.js"></script>-->
<!--<script src="vendor/owl.carousel/owl.carousel.min.js"></script>-->
<!--<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>-->
<!--<script src="vendor/vide/jquery.vide.min.js"></script>
<script src="vendor/vivus/vivus.min.js"></script>-->

<!-- Current Page Vendor and Views -->
<script src="<%-publicPath%>porto-vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="<%-publicPath%>porto-vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Revolution Slider Addon - Typewriter -->
<script type="text/javascript"
    src="<%-publicPath%>porto-vendor/rs-plugin/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>