<form class='container mnx-form' id="<%= cid %>">
    <div class="infos"></div>
    <div class="">
        <input type="hidden" id="id" name="id" value="<%= model.get('id') %>">
        <div class="breadcrumb-container row d-none">
            <div class="col-12 col-lg-auto actions">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4 col-lg-4 col-xl-3">
                <label for="name" class=' text-dark'>Nome</label>
                <input type="text" class="form-control" name="name" id="name" value="<%= model.get('name') %>">
            </div>
            <div class="form-group col-md-2 col-lg-2 col-xl-2">
                <label for="age" class=' text-dark'>Idade</label>
                <input type="number" class="form-control" name="age" id="age" min="0" value="<%= model.get('age') %>">
            </div>
        </div>
    </div>
</form>