label.required:after {
    content: '*';
    font-size: 0.8em;
    margin: 0.3em;
    position: absolute;
    top: -6px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 3;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
    padding-top: 120px;
}

.popover.danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.toasts,
.toast {
    z-index: 2001;
}

/* arrow border */
.danger.bs-popover-auto[x-placement^='bottom'] > .arrow::before,
.danger.bs-popover-bottom > .arrow::before {
    border-bottom-color: #f5c6cb;
}
.danger.bs-popover-auto[x-placement^='top'] > .arrow::before,
.danger.bs-popover-top > .arrow::before {
    border-top-color: #f5c6cb;
}

/* arrow background */
.danger.bs-popover-auto[x-placement^='bottom'] > .arrow::after,
.danger.bs-popover-bottom > .arrow::after {
    border-bottom-color: #f8d7da;
}

.danger.bs-popover-auto[x-placement^='top'] > .arrow::after,
.danger.bs-popover-top > .arrow::after {
    border-top-color: #f8d7da;
}

@media (max-width: 575px) {
    section.page-header h1 {
        border-bottom: 0px !important;
    }
}

.c-pointer {
    cursor: pointer !important;
}

.c-text,
.ambiente-seguro {
    cursor: text !important;
}

.social-icons li:hover.social-icons-instagram a {
    background: #dc3545;
}

a {
    text-decoration: none;
}

.modal-footer {
    border-top: 0px;
}
