/* colors.css */
:root {
  --primary:#409880;
  --secondary:#179fc0;
  --primary-light:#48aa8f;
  --secondary-light:#73CBE0;
  --tertiary:#5552A2;
  --quaternary:#ED893E;
  --dark:#212529;
  --light:#FFF;
}
/*# sourceMappingURL=colors.css.map */