/* colors.css */

$primary: #409880;
$primary-light: #48aa8f;
$secondary: #179fc0;
$secondary-light: #73CBE0;
$tertiary: #5552A2;
// $tertiary: #f4867e;
// $quaternary: #f7c97f;
// $quaternary: #FF8B18;
$quaternary: #ED893E;
$dark: #212529;
$light: #FFF;

:root {
    --primary:#{$primary};
    --secondary:#{$secondary};
    --primary-light:#{$primary-light};
    --secondary-light:#{$secondary-light};
    --tertiary:#{$tertiary};
    --quaternary:#{$quaternary};
    --dark:#{$dark};
    --light:#{$light};
}