@font-face {
    font-family: 'ubuntu-regular';
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'knockout90';
    src: url('fonts/Knockout-90.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.knockout90 {
    font-family: 'knockout90';
}

.knockout90 .tp-charsplit {
    margin-left: 7px;
}

body {
    font-family: 'ubuntu-regular', 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}

body,
.body {
    color: #2d2d2d;
    transition: background-color 0.5s ease;
    background-color: #ebebeb;
}

@media (max-width: 991px) {
    .w-mobile-tributo {
        width: 85vw;
    }

    .w-mobile-pedido {
        width: 87vw;
    }

    .mw-xs-100 {
        max-width: 100% !important;
    }

    .w-xs-100 {
        width: 100% !important;
    }

    .debitos .table.table-no-more,
    .pedidos .table.table-no-more {
        border-collapse: separate;
        border-spacing: 0 15px;
        border: 0px;
    }
    .debitos .table.table-no-more tbody td,
    .pedidos .table.table-no-more tbody td {
        border-right: 1px solid #dedede;
    }
    .debitos .table.table-no-more tbody tr td:nth-child(2),
    .pedidos .table.table-no-more tbody tr td:nth-child(1) {
        border-top: 1px solid #dedede;
    }
    .pedidos .table.table-no-more tbody td {
        border-left: 1px solid #dedede;
    }
}

@media (min-width: 992px) {
    .w-lg-50 {
        width: 50% !important;
    }

    .norow-lg {
        display: block !important;
    }
}

@media (max-width: 576px) {
    .w-mobile-tributo {
        width: 75vw;
    }
}

.sk-loading-central {
    border: 0px;
}

/* Sk */
.modal.info .modal-header {
    font-size: 1.3rem;
}
.modal.info .modal-body {
    font-size: 1.1rem;
    font-weight: bold;
}
.modal.info .modal-footer .btn {
    font-size: 1.1rem;
}

.toast-body {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* CORES DOS DESIGNERS */

html.boxed .body {
    border-top-color: #2d2d2d;
    border-radius: 5px !important;
}

html.boxed .main {
    background-color: unset;
    overflow: unset;
}

/* porto template - missing classes */

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: #4d4d4d !important;
}
a.text-primary:focus,
a.text-primary:hover {
    color: unset !important;
}

a.text-light:focus,
a.text-light:hover {
    color: unset !important;
}

/* TABLE COLORS */
.table-striped thead tr {
    background-color: transparent;
}
.table-striped tbody tr:nth-of-type(even) {
    /* background-color: #fff; */
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
    /*background-color: rgba(0,0,0,.15);*/
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.table td,
.table th,
.table-bordered td,
.table-bordered th {
    border-color: rgba(0, 0, 0, 0.1);
}

.table-row-space {
    border-collapse: separate;
    border-spacing: 0 15px;
    border: 0px;
}

table.header-border-bottom-only thead th {
    border-top: none;
    border-left: none;
    border-right: none;
}

tr.vmiddle td,
tr.vmiddle th {
    vertical-align: middle;
}

/** placeholder /
/* do not group these rules */
*::-webkit-input-placeholder {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #959595 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font-family: 'Open Sans', Arial, sans-serif;
    color: #959595 !important;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    font-family: 'Open Sans', Arial, sans-serif;
    color: #959595 !important;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Open Sans', Arial, sans-serif;
    color: #959595 !important;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Open Sans', Arial, sans-serif;
    color: #959595 !important;
}
*::placeholder {
    /* modern browser */
    font-family: 'Open Sans', Arial, sans-serif;
    color: #959595 !important;
}

/* Effect: Label inside field */
/* placeholder blur */
.field-root .form-control::-webkit-input-placeholder,
.field-root .input-form-control::-webkit-input-placeholder {
    color: rgba(149, 149, 149, 0) !important;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.field-root .form-control:-moz-placeholder,
.field-root .input-form-control:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(149, 149, 149, 0) !important;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.field-root .form-control::-moz-placeholder,
.field-root .input-form-control::-moz-placeholder {
    /* FF 19+ */
    color: rgba(149, 149, 149, 0) !important;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.field-root .form-control:-ms-input-placeholder,
.field-root .input-form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(149, 149, 149, 0) !important;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.field-root .form-control::-ms-input-placeholder,
.field-root .input-form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(149, 149, 149, 0) !important;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.field-root .form-control::placeholder,
.field-root .input-form-control::placeholder {
    /* modern browser */
    color: rgba(149, 149, 149, 0) !important;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
/* placeholder focus */
.field-root .form-control:focus::-webkit-input-placeholder,
.field-root .input-form-control:focus::-webkit-input-placeholder {
    color: rgba(149, 149, 149, 1) !important;
}
.field-root .form-control:focus:-moz-placeholder,
.field-root .input-form-control:focus:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(149, 149, 149, 1) !important;
}
.field-root .form-control:focus::-moz-placeholder,
.field-root .input-form-control:focus::-moz-placeholder {
    /* FF 19+ */
    color: rgba(149, 149, 149, 1) !important;
}
.field-root .form-control:focus:-ms-input-placeholder,
.field-root .input-form-control:focus:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(149, 149, 149, 1) !important;
}
.field-root .form-control:focus::-ms-input-placeholder,
.field-root .input-form-control:focus::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(149, 149, 149, 1) !important;
}
.field-root .form-control:focus::placeholder,
.field-root .input-form-control:focus::placeholder {
    /* modern browser */
    color: rgba(149, 149, 149, 1) !important;
}

/* effect core */
.label-root {
    display: block;
    transform-origin: top left;
}

.label-form-control {
    top: 6px;
    left: 28px;
    z-index: 1;
    cursor: text;
    position: absolute;
    white-space: nowrap;
    transform: translate(0, 24px) scale(1);
    background-color: rgba(255, 255, 255, 0.3);
}

.label-form-control.select {
    top: 3px;
    left: 32px;
}

@media (max-width: 767px) {
    .label-form-control.select {
        top: 1px;
        left: 32px;
    }
}

.label-form-control.label-focused,
.label-form-control.label-filled {
    /* transform: translate(0, 1.5px) scale(0.75); */
    transform: translate(-10px, -7px) scale(0.85);
    transform-origin: top left;
    background-color: rgba(255, 255, 255, 0);
}

.field-root label.label-form-control + .form-control,
.field-root label.label-form-control + .input-form-control {
    margin-top: 20px;
    z-index: 0;
}

.label-animated {
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        background-color 150ms ease-out;
}

/* TEXTS */

.section-abpix-bg {
    bottom: 0px;
}
.section-abpix-bg img {
    width: 300px;
    margin-bottom: -74px;
}

@media (min-width: 413px) {
    .section-abpix-bg {
        bottom: 0px;
    }
    .section-abpix-bg img {
        width: 400px;
        margin-bottom: -82px;
    }
}

@media (min-width: 768px) {
    .section-abpix-bg {
        bottom: 0px;
    }
    .section-abpix-bg img {
        width: 600px;
        margin-bottom: -98px;
    }
}

@media (min-width: 992px) {
    .section-abpix-bg {
        bottom: 0px;
        /* margin-left: 25vw;margin-right: 25vw; */
    }
    .section-abpix-bg img {
        width: 800px;
        margin: -114px;
    }
}

.clearfix:after {
    clear: both;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: ' ';
}

a.navlink-effect {
    -webkit-transition: background 0.1s;
    transition: background 0.1s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    /* padding-top: 8px;
    padding-bottom: 8px; */
    padding-left: 22px;
    display: block;
    color: #666;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 20px;
}

a.navlink-effect:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f054';
    font-weight: 900;
    position: absolute;
    /* top: 8px; */
    font-size: 7.2px;
    font-size: 0.45rem;
    opacity: 0.7;
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
    left: 12px;
}

a.navlink-effect:hover:before {
    -webkit-animation-name: arrowLeftRight;
    animation-name: arrowLeftRight;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

html.sticky-header-active
    body[data-plugin-section-scroll]
    #header.transparent
    .header-body,
#header.transparent .header-body,
body[data-plugin-section-scroll] #header.transparent .header-body,
#header.transparent .header-body .header-btn-collapse-nav,
.bg-transparent {
    background: transparent !important;
}

@media (min-width: 992px) {
    html
        #header.header-transparent
        .header-nav.header-nav-links
        nav
        > ul
        > li
        > a,
    #header.header-transparent .header-nav.header-nav-line nav > ul > li > a {
        color: #fff;
    }
}

@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
        color: #212529;
    }
}

textarea.produto-numero {
    height: 45px;
}

@media (max-width: 1241px) {
    textarea.produto-numero {
        height: 75px;
    }
}

.rangeslider__handle {
    height: 30px;
    width: 30px;
    border: solid 4px #fff;
    top: 65%;
}

.rangeslider__fill,
.rangeslider__fill__bg {
    height: 8px;
}

html .text-color-disabled,
html .text-disabled {
    color: #c7c7c7 !important;
}

html .border-color-disabled {
    border-color: #c7c7c7 !important;
}

html .border-bottom-color-disabled {
    border-bottom-color: #c7c7c7 !important;
}

small,
.small {
    font-size: 85%;
}

@media (min-width: 992px) {
    html
        #header.tertiary.header-transparent
        .header-nav.header-nav-links
        nav
        > ul
        > li
        > a,
    #header.header-transparent .header-nav.header-nav-line nav > ul > li > a {
        color: #444;
    }
}

.process-vertical .process-step:after {
    background-color: #cbcbcb;
}

.text-color-red {
    color: red !important;
}

.mnx-grid,
.mnx-form,
.mnx-sync {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.hidden-text-effect span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.hidden-text-effect:hover span {
    max-width: 7rem;
}

.breadcrumb-text {
    margin-bottom: 0px;
}

.mnx-grid > .filter {
    max-height: 0px;
    -webkit-transition: max-height 0.4s;
    transition: max-height 0.4s;
    overflow: hidden;
}

.mnx-grid > .filter.search-on {
    max-height: 9999px;
}

@media (min-width: 992px) {
    .mnx-grid > .filter.filter-lines-1.search-on {
        max-height: 200px;
    }

    .mnx-grid > .filter.filter-lines-2.search-on {
        max-height: 300px;
    }

    .mnx-grid > .filter.filter-lines-3.search-on {
        max-height: 400px;
    }
}
