.sk-loading-modal
{
    position: fixed;
    background-color: rgba(105,105,105,0.5);
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

.sk-popup {
    z-index: 1053;
}

.sk-loading-modal .modal
{
    position: relative;
    margin: auto;
    left: auto;
    width: unset;
    height: unset; 
    min-width: 90px;
    padding: 5px 25px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
}

.sk-loading-modal img.loading,
.sk-loading-modal i.loading
{
    padding: 5px;
}

.sk-loading-local
{
    display: inline;
}

.sk-loading-local-pos-inner-after
{
    display: block;
    bottom: -2px;
    right: 30px;
    position: absolute;
}

.sk-loading-local > img
{
    padding: 0 4px;
    vertical-align: baseline;
}

.sk-loading-central
{
    border: 1px solid #ddd;
    text-align: center;
    width: 99%;
}

.sk-loading-local.modal-like {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.9);
    z-index: 1;
    display: block;
    text-align: center;
}

.sk-loading-local.modal-like.vcenter {
    display: flex;
}

.sk-loading-local.modal-like.vcenter i {
    display: block;
    margin: auto;
}

.dib {
    display: inline-block;
}

.modal.in {
  overflow-x: hidden;
  overflow-y: hidden;
}


.sk-popup .modal-body {
    max-height: 70vh;
    overflow: auto;
    -webkit-transition: max-height .5s;
    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s;
    -o-transition: max-height .5s;
    transition: max-height .5s;
}

.ui-widget-content
{
    z-index: 1051;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}

.tred {
    color: red;
}

    /* z-indexes */
    /* color pallete z-index is 1050 */

    .sk-loading-modal
    {
        z-index: 1051;
    }

    .modal.sk-popup {
            z-index: 1041;
    }

    .modal-backdrop {
            z-index: 1040;
    }
    /**/

.sk-popup .modal-dialog.modal-full {
    max-width: 98%;
}

.hide {
    display: none !important;
}

.dataTable  tr.active .fa, .dataTable  tr.removed .fa,
.dataTable  tr.active .far, .dataTable  tr.removed .far
{
    color: #FFF !important;
}

/* boostrap adds a padding to body and lose control of it. that padding keeps growing and start causing problems */
body {
    padding-right: 0px !important;
}