
#camera-shooter-container {
    /* height: 100vh; */
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1999;
    background-color: #000;
/*    display: flex;
    flex-wrap: wrap;
    align-items: center!important;*/
}

#camera-shooter-container .video-stream
/*.camera-shooter-container .video-stream*/
{
    /* height: 60vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end!important;
    justify-content: center!important;
}

#camera-shooter-container .video-stream > div {
    text-align: center;
}

#camera-shooter-container video,
#camera-shooter-container img,
#camera-shooter-container .actions {
    max-width: 400px;
}

#camera-shooter-container video,
#camera-shooter-container img,
#camera-shooter-container canvas {
    /* height: 300px; */
    max-height: 100%;
    /*margin: auto;*/
}

.camera-shooter-container .video-stream,
.camera-shooter-container video:not(.manual),
.camera-shooter-container img:not(.manual) {
    /* width: 100%; */
    min-height: 270px;
    height: auto;
}